<div class="controls" *ngIf="(products$ | async)?.length">
  <button mat-button [disabled]="(hasPrevious$ | async) === false" (click)="previous()">Previous</button>
  <button mat-button (click)="reset()">Reset</button>
  <button mat-button [disabled]="(hasNext$ | async) === false" (click)="next()">Next</button>
</div>
<div class="product-cards" *ngIf="(products$ | async)?.length">
  <mat-card class="card" *ngIf="product$ | async as product">
    <mat-card-header class="card__header">
      <div mat-card-avatar>{{product.id}}</div>
      <mat-card-title class="card__header--title">{{product.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{product.image}}" alt="product image">
    <mat-card-content class="card-content">
      <div class="card-content__spacer"></div>

      <p>{{product.description}}</p>
      <p>{{product.price | currency}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="(hasPrevious$ | async) === false" (click)="previous()">Previous</button>
      <button mat-button (click)="reset()">Reset</button>
      <button mat-button [disabled]="(hasNext$ | async) === false" (click)="next()">Next</button>
    </mat-card-actions>
  </mat-card>
</div>

