.controls {
  display: flex;
  justify-content: center;
}
.product-cards {
  display: flex;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: space-between;

    &__header {
      &--title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 350px;
      }
    }
  }
}
